@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

$family-sans-serif: 'Varela Round', sans-serif;
$control-border-width: 2px;

$radius: 5px;
$input-focus-box-shadow-color:#e8eaec;
$label-weight: 500;
$input-shadow: none;
$title-weight: 500;
$input-focus-border-color: #e8eaec;
$input-border-color: #e8eaec;
$input-hover-border-color: #e8eaec;
$link: rgb(231, 37, 53);
$input-background-color: #e8eaec;


html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
}
hr {
  background-color: #e8eaec !important;
  height: 1px !important;
}

.hero-body .container {

}

.control .icon {
  pointer-events: initial !important;
}

.pointer:hover {
  cursor: pointer;
}

.has-margin-top {
  margin-top: 2em;
}

.has-margin-bottom{
  margin-bottom: 2em;
}

.underline {
  border-bottom: 1px solid;
}

.form {
  margin-top: 4em;
}

@import '../../node_modules/bulma/bulma';
@import "../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";